<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Algo no fue bien...</h1>
    <p>Estamos trabajando para arreglar el error, perdone por el inconveniente!</p>
    <p>JAJAJAJAJAJAJA</p>

<%- include('includes/end.ejs') %>